<h2>Create new celebrity</h2>
<form action="/celebrities" method="post">
  <div>
    Name:<input type="text" name="name">
  </div>

  <div>
    Ocupation:<input type="text" name="occupation">
  </div>

 <div>
    Catch Phrase:<input type="text" name="catchphrase">
  </div>

  <button type="submit">Crear Celebrity</button>
</form>